@media screen and (max-width: 768px) {

  .header {
    height: auto !important;
    padding-block: 8px !important;
  }

  .content__header {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .content__header .logo {
    display: inline;
    width: auto;
    font-size: 24px;
  }
}

.backgrond__section {
  background-image: url("../media/images/alphabet/bg.jpeg") !important;
  background-position: center center !important;
}

.swiper-slide:nth-child(1) {
  background-image: url("../media/images/alphabet/card-4.jpg") !important;
  background-position: 50% center;
}

.swiper-slide:nth-child(2) {
  background-image: url("../media/images/alphabet/card-2.jpg") !important;
  background-position: 50% center;
}

.swiper-slide:nth-child(3) {
  background-image: url("../media/images/alphabet/card-3.jpg") !important;
  background-position: 50% center;
}

.swiper-slide:nth-child(4) {
  background-image: url("../media/images/alphabet/card-1.jpg") !important;
  background-position: 50% center;
}